ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 4em 2em;
    border-radius: 50%;
    background-color: #ccc;
    padding: 3em;
}


ul li a svg {
    width: 80px;
    height: 80px;
}

.facebook > svg:hover {
    fill: #3B5998;
}

.twitter > svg:hover {
    fill: #00ACED;
}

.google > svg:hover {
    fill: #DD4B39;
}

.linkedin > svg:hover {
    fill: #007BB6;
}

.instagram > svg:hover {
    fill: #517FA4;
}