html {   
    font: 1em/1.2 Georgia, serif;
}

body {
    font: inherit;
    margin: 3em 10em;
    
}

img {
    padding: 0.5em;
    border: 0.3em solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.25);

}



body>header {
    border-bottom: 2px solid #000;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

header p a {
    color: #000;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
}

header p,
header nav {
    display: inline-block;
}

header nav {
    float: right;
    padding-top: 1em;
}

nav ul {
    padding: 0 0 0 4em;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 0 0.5em;
}



a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

nav a {
    padding: 0.5em 1em;
}

nav a:hover {
    background-color: #060;
    color: #fff;
}

article:nth-child(1) img {
    float: right;
    margin: 1em;
}

section,
aside {
    display: inline-block;
}

section {
    max-width: 50%;
}

aside {
    position: relative;
    bottom: 86em;
    left: 65em;
    max-width: 30em;
}

aside section:nth-child(1) {
    display: block;
    margin-bottom: 3em;
}

main section p:nth-child(3),
blockquote {
    display: inline-block;
    max-width: 19em;
}

main section p:nth-child(3) {
    border-right: 0.2em solid #ccc;
    padding-right: 2em;
}

blockquote {
    float: right;
    color: #666a6c;
    ;
    font-style: italic;
}

blockquote p {
    float: right;
}

article:nth-child(3) img {
    float: left;
    margin-right: 1em;
    ;
}