* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: 0 0 1em 0.3em  rgba(0, 0, 0, 0.3);
    flex: 0 1 20%;
    gap: 0.8em;
    border-radius: 0.6em;
    padding: 1em 1em 3em;
}

.card-title {
    font-size: 1.1em;
    font-weight: bold;
    flex: 0 0 100%;
}

