@import url(typography.css);
 body {
    max-width: 105em;
    margin: 0 auto;
 }

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: #cccccc;
}

table th, table td {
    border: 0.06em solid #cccccc;
    padding: 0.5em;
}

table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

blockquote {
    border-left: 0.25em solid rgb(221, 221, 221);
    padding-left: 2em;
    font-style: italic;
    font-weight: 600;
    padding: 0.3em 1.5em 3em;
}


blockquote .from {
    text-align: end;
}


